<section class="entry-creation">
    <h3>Add your journal entry.</h3>
<form [formGroup]="entryForm" (submit)="submitEntry">
    <div>
    <label for="topicValue">Topic</label>
    <input id="topicValue" type="text" formControlName="topicValue">
    </div>
    <div>
    <label for="entryDate">Entry Date</label>
    <input id="entryDate" type="text" value="" formControlName="entryDate">
    </div>
    <div>
    <label for="entry">Entry</label>
    <textarea id="entry" formControlName="entry"></textarea>
    </div>
    <div>
    <button type="submit">Save</button>
    </div>
</form>
</section>